#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig GRAPHICS_TEST
	bool "enable graphics test"
	default n
	depends on TESTS_TESTCASES

if GRAPHICS_TEST

config GRAPHICS_TEST_PRIORITY
	int "graphics test task priority"
	default 100

config GRAPHICS_TEST_STACKSIZE
	int "graphics test stack size"
	default 4096

config VIDEO_WIDGET_TEST
	bool "enable video widget test"
	default n
	depends on LVX_USE_VIDEO_ADAPTER

config ANIMATION_ENGINE_TEST
	bool "enable animation engine test"
	default n
	depends on ANIMATION_ENGINE && LVX_USE_ANIMENGINE_ADAPTER

endif # GRAPHICS_TEST
